* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1 {
    background-color:#ff8ba7;
    padding: 1.5rem;

}
h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#312e2f ;
}
body {
    display: flex;
    flex-direction: column;
}
.register {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif
}
img {
    width: 160px;
    height: 160px;
    float:right;
}
form {
    display: flex;

}
 input[type=submit]{
    background-color: #ffc6c7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    color: #312e2f;
    border-radius: 50px;
  }
  input[type=submit]:hover {
    background-color: #e71b4b;
    color: rgb(255, 255, 255);
  }
  